*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #101820FF;
    color: #E94B3CFF;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container1{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/form-back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.signup{
    height: 500px;
    width: 500px;
    background-color: rgb(255, 0, 0);
    border-radius: 8px;
}
.form-head{
    height: 60px;
    width: 500px;
    display: flex;
    /* background-color: black; */
}
.signup-bar{
    height: 60px;
    width: 250px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 1.1s ease-in-out;

}
.signup-bar h1, .signin-bar h1{
    color: white;
    font-size: 32px;
}
.signin-bar{
    height: 60px;
    width: 250px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* transition: background 1.1s ease-in-out; */
}
.active{
    background-color: rgb(56, 54, 54);
}
.non-active{
    background-color: #6e6e69;
}
/* .signup{
    height: ;
} */